<?xml version="1.0" encoding="UTF-8"?>

<server description="agora">

    <featureManager>
        <feature>jaxws-2.2</feature>
        <feature>jpa-2.1</feature>
        <feature>ejbLite-3.2</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>
    
    <logging consoleLogLevel="INFO"/>
    <logging traceSpecification="*=info"/>

    <!--    <variable name="defaultHostName" value="kopacki.eu"/>-->
    
    <pluginConfiguration webserverPort="81"/>

    <basicRegistry id="agora">
        <user name="admin" password="adminpwd" />
        <user name="tk" password="test" />
        <user name="p.lukaszewski" password="test" />
        <user name="i.wisniowska" password="test" />
        <group name="users">
            <member name="tk" />
            <member name="p.lukaszewski" />
            <member name="i.wisniowska" />
        </group>
    </basicRegistry>

    <administrator-role>
        <user>admin</user>
    </administrator-role>
    
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <library id="MySQLLib">
        <file name="${server.config.dir}/lib/mysql-connector-java-5.1.39-bin.jar"/>
    </library>
    
    <dataSource id="agora" jndiName="jdbc/agora-erp">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="agora" serverName="db" portNumber="3306" user="agora" password="agora.12"/>
    </dataSource>
    
    <enterpriseApplication id="agora" location="ScriptingContainer.ear" name="agora">
        <applicationMonitor dropins="${server.config.dir}/apps/" />
        <application-bnd>
            <security-role name="user">
                <group name="users" />
            </security-role>
            <security-role name="AllAuthenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </enterpriseApplication>
    
    <!-- SECURITY CONSTRAINTS -->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- AUTHENTICATION METHOD: Basic authentication -->
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config> 
</server>
