<?xml version="1.0" encoding="UTF-8"?>

<server description="agora">

    <featureManager>
        <feature>jaxws-2.2</feature>
        <feature>jpa-2.1</feature>
        <feature>ejbLite-3.2</feature>
        <feature>appSecurity-2.0</feature>
        <feature>jsp-2.3</feature>
        <feature>servlet-3.1</feature>
    </featureManager>
    
    <logging consoleLogLevel="INFO"/>
    <logging traceSpecification="*=info"/>

    <basicRegistry id="agora" realm="agora">
        <user name="tk" password="test" />
        <user name="p.lukaszewski" password="test" />
        <user name="i.wisniowska" password="test" />
        <group name="users">
            <member name="tk" />
            <member name="p.lukaszewski" />
            <member name="i.wisniowska" />
        </group>
    </basicRegistry>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <library id="MySQLLib">
        <file name="${server.config.dir}/lib/mysql-connector-java-5.1.39-bin.jar"/>
    </library>
    
    <dataSource id="agora" jndiName="jdbc/agora-erp">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="agora" serverName="db" portNumber="3306" user="agora" password="agora.12"/>
    </dataSource>
    
    <enterpriseApplication id="agora" location="ScriptingContainer.ear" name="agora">
        <applicationMonitor dropins="${server.config.dir}/apps/" />
        <application-bnd>
            <security-role name="agora">
                <group name="users" />
            </security-role>
        </application-bnd>
    </enterpriseApplication>

</server>
