[paths]
config: main.xml
templates: sources/

[queries]
insertTemplate: INSERT INTO template (name, source) VALUES (%s, %s)
insetTemplateVariable: INSERT INTO template_variable (template_id, name, data) VALUES (%d, '%s', '%s')

selectTemplate: SELECT * FROM template WHERE name = %s

updateTemplate: UPDATE template SET source = %s WHERE name = %s

deleteTemplateVariables: DELETE FROM template_variable WHERE template_id = %d