<?xml version="1.0"?>
<list>
    #foreach($community in $communities)
        <item>
            <id>$community.getId()</id>
            <name>$community.getName()</name>
        </item>
    #end
</list>