<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<list>
    <item>
        <id>0</id>
        <label></label>
    </item>
    #foreach($community in $communities)
    <item>
        <id>$community.getId()</id>
        <label>$community.getName()</label>
    </item>
    #end
</list>