<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<can-close-month>
    <restrictions>
        $restrictions[0].getTemplateName()
        #foreach($restriction in $restrictions)
        <restriction>
            <name>$restriction.getTemplateName()</name>
            <result>$restriction.getResult</result>
            <message>$restriction._message</message>
        </restriction>
        #end
    </restrictions>
</can-close-month>
