<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
$restrictions
<can-close-month>
    <restrictions>
        #foreach($restriction in $restrictions)
        $!restriction
        <restriction>
            <name>$!restriction.getTemplateName()</name>
            <result>$!restriction.getResult()</result>
            <message>$!restriction.getMessage()</message>
        </restriction>
        #end
    </restrictions>
</can-close-month>
