<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<communityDefaultContractor>
    <id>$!entity.getId()</id>
    <company>
        <id>$!entity.getCompany().getId()</id>
        <name>$!entity.getCompany().getName()</name>
    </company>
    <zpk>
        <description>$!entity.getZpkDescription()</description>
        <number>$!entity.getZpkNumber()</number>
    </zpk>
</communityDefaultContractor>