<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="bookingPeriod">
    <property name="id" type="Integer">$!period.getId()</property>
    <property name="number" type="String">$!period.getName()</property>
    <property name="active" type="String">$!period.isActive()</property>
    <property name="defaultPeriod" type="Boolean">$!period.isDefaultPeriod()</property>
</entity>  
