<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<element>
    <id>$!entity.getId()</id>
    <groupKey>$!entity.getGroup().getId()</groupKey>
    <key>$!entity.getKey()</key>
    <name>$!entity.getName()</name>
    <value>$!entity.getGlobalValue()</value>
    <default>$!entity.isDefaultElement()</default>
    <algorithm>$!entity.getAlgorithm()</algorithm>
</element>