<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<zpk>
    <id>$!zpk.getId()</id>
    <description>$!zpk.getDescription()</description>
    <number>$zpk.getType().getKey()-$!zpk.getNumber()</number>
    <startCredit>$!zpk.getStartCredit()</startCredit>
    <startDebit>$!zpk.getStartDebit()</startDebit>
</zpk>