<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<zpks-settings>
    #foreach($entity in $entities)
        #if($entity.getKey() == "POSSESSION")
            <possessionId>$entity.getValue()</possessionId>
        #end
        #if($entity.getKey() == "ACCOUNT")
            <accountId>$entity.getValue()</accountId>
        #end
        #if($entity.getKey() == "REPAIR_FUND_ACCOUNT")
            <accountId>$entity.getValue()</accountId>
        #end
    #end
</zpks-settings>