<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<element>
    <id>$!entity.getId()</id>
    <groupKey>$!entity.getGroup().getId()</groupKey>
    <key>$!entity.getKey()</key>
    <name>$!entity.getName()</name>
    <globalValue>$!entity.getGlobalValue()</globalValue>
    <defaultValue>$!entity.isDefaultElement()</defaultValue>
    <algorithm>$!entity.getAlgorithm()</algorithm>
</element>