<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<internal-payment>
    <id>$!entity.getId()</id>
    <credit>
        <id>$!entity.getCredit().getId()</id>
    </credit>
    <debit>
        <id>$!entity.getDebit().getId()</id>
    </debit>
    <value>$!entity.getValue()</value>
    <comment>$!entity.getComment()</comment>
</internal-payment>