<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<account>
    <id>$!account.getId()</id>
    <name>$!account.getName()</name>
    <number>$!account.getNumber()</number>
    <type>$!account.getType().getValue()</type>
    <bank>$!account.getBank().getName()</bank>
    <parentName>$!account.getParrentAccount().getName()</parentName>
    <parentNumber>$!account.getParrentAccount().getNumber()</parentNumber>
</account>