<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<contractor>
        <id>$!contractor.getId()</id>
        <name>$!contractor.getName()</name>
        <company>
            <id>$!contractor.getCompany().getId()</id>
            <name>$!contractor.getCompany().getName()</name>
        </company>
        <community>
            <id>$!contractor.getCommunity().getId()</id>
        </community>
</contractor>