<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<zpk>
    <number>$!zpk[0]</number>
    <description>$!zpk[1]</description>
    <credit>$!zpk[2]</credit>
    <debit>$!zpk[3]</debit>
    <community>
        <id>$!zpk[4]</id>
        <name>$!zpk[5]</name>
    </community>
</zpk>