<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="dictionary">
    <property name="id" type="Integer">$!entity.getId()</property>
    <property name="key" type="String">$!entity.getKey()</property>
    <property name="value" type="String">$!entity.getValue()</property>
</entity>
