<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<global-element>
    <id>$!entity.getId()</id>
    <group>$!entity.getGroup().getValue()</group>
    <name>$!entity.getName()</name>
    <value>$!entity.getGlobalValue()</value>
    #if($!entity.isDefaultElement())
    <defaultElement>1</defaultElement>
    #else
    <defaultElement>0</defaultElement>
    #end
    <algorithm>$!entity.getAlgorithm().getName()</algorithm>
</global-element>