<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<bookingPeriod>
    <id>$!period.getId()</id>
    <number>$!period.getName()</number>
    <active>$!period.isActive()</active>
    <defaultPeriod>$!period.isDefaultPeriod()</defaultPeriod>
</bookingPeriod>  
