<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="global-element">
    <property name="id" type="Integer">$!entity.getId()</property>
    <property name="group" type="String">$!entity.getGroup().getValue()</property>
    <property name="name" type="String">$!entity.getName()</property>
    <property name="globalValue" type="String">$!entity.getGlobalValue()</property>
    <property name="defaultElement" type="Boolean">$!entity.isDefaultElement()</property>
    <property name="algorithm" type="String">$!entity.getAlgorithm().getDictionaryKey()</property>
</entity>