<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<settlements>
    #foreach($row in $settlements)
        <item>
            <ocredit>$!row[3]</ocredit>
            <odebit>$!row[4]</odebit>
            <id>$!row[0]</id>
            <name>$!row[1]</name>
            <communityName>$!row[2]</communityName>
            
        </item>
    #end
</settlements>