<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<dictionary-list>
    #foreach($row in $items)
    <item>
        <id>$!row.getId()</id>
        <value>$!row.getName()</value>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</dictionary-list>
