<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<settlements>
    #foreach($row in $settlements)
        <item>
            <credit>$row[3]</credit>
            <debit>$row[4]</debit>
            <ocredit>$row[5]</ocredit>
            <odebit>$row[6]</odebit>
            <id>$row[0]</id>
            <name>$row[1]</name>
            <communityName>$row[2]</communityName>
        </item>
    #end
</settlements>