<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<contractors>
    #foreach($row in $contractors)
    <item>
        <id>$!row.getId()</id>
        <name>$!row.getCompany().getName()</name>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</contractors>