<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<dictionary-list>
    <items>
    #foreach($row in $items)
    <item>
        <id>$!row.getId()</id>
        <key>$!row.getKey()</key>
        <value>$!row.getValue()</value>
    </item>
    #end
    </items>
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</dictionary-list>
