<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<obligations>
    #foreach($row in $obligations)
    <item>
        <obligationId>$!row.getId()</obligationId>
        <name>$!row.getName()</name>
        <company>
            <id>$!row.getContractor().getId()</id>
            <name>$!row.getContractor().getName()</name>
        </company>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</obligations>