<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<communities>
    #foreach($community in $communities)
        <item>
            <id>$!community.getId()</id>
            <name>$!community.getName()</name>
            <inDate>$!community.getFormattedInDate()</inDate>
            <outDate>$!community.getFormattedOutDate()</outDate>
        </item>
    #end
        <settings>
            <maxResults>$countRows</maxResults>
        </settings>
</communities>