<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<community>
    <contractors>
        #foreach($entity in $!companies)
        <contractor>
            <company>
                <id>$!entity.getId()</id>
                <name>$!entity.getName()</name>
            </company>
        </contractor>
        #end
    </contractors>
</community>