<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<owners>
    #foreach($owner in $owners)
    <item>
        <id>$!owner.getId()</id>
        <name>$!owner.getName()</name>
        <possessionId>$!owner.getPossession().getId()</possessionId>
        <possessionAddress>$!owner.getPossession().getFullAddress()</possessionAddress>
        <isCompany>$!owner.isCompany()</isCompany>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</owners>
