<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<settlements>
    #foreach($row in $settlements)
        <item>
            <credit>$row[0]</credit>
            <debit>$row[1]</debit>
            <ocredit>$row[5]</ocredit>
            <odebit>$row[6]</odebit>
            <id>$row[2]</id>
            <name>$row[3]</name>
            <communityName>$row[4]</communityName>
            
        </item>
    #end
</settlements>