<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<people>
    #foreach($person in $people)
    <item>
        <id>$!person.getId()</id>
        <firstName>$!person.getFirstName()</firstName>
        <lastName>$!person.getLastName()</lastName>
        <pesel>$!person.getPesel()</pesel>
        <nip>$!person.getNip()</nip>
        <phone1>$!person.getPhoneNumber1()</phone1>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</people>
