<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<accounts>
    #foreach($row in $accounts)
    <item>
        <id>$row.getId()</id>
        <bankName>$!row.getBank().getName()</bankName>
        <number>$!row.getNumber()</number>
        <type>$!row.getType().getValue()</type>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</accounts>