<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<list>
    #foreach($account in $accounts)
        <item>
            <id>$account.getId()</id>
            <name>$account.getName()</name>
        </item>
    #end
</list>