<menu>
#foreach($category in $categories)
    <category>
        <name key="$category.getCategoryKey()">$category.getName()</name>
        <items>
        #foreach($item in $category.getCategoryItemCollection())
            <item key="$item.getItemKey()">$item.getName()</item>
        #end
        </items>
    </category>
#end
</menu>