<menu>
#foreach($category in $categories)
    <category>
        <name>$category.getName()</name>
        <items>
        #foreach($item in $category.getCategoryItemCollection())
            <item>$item.getName()</item>
        #end
        </items>
    </category>
#end
</menu>