<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<owners>
    #foreach($row in $owners)
    <item>
        <id>$!row[0]</id>
        <name>$!row[1]</name>
        <number>$!row[2]</number>
        <typeLabel>$!row[3]</typeLabel>
        <typeKey>$!row[4]</typeKey>
    </item>
    #end
    <settings>
        <maxResults>$countRows</maxResults>
    </settings>
</owners>
