<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<list>
    #foreach($type in $types)
        <item>
            <id>$type.getId()</id>
            <name>$type.getValue()</name>
        </item>
    #end
</list>