<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<report-zpks>
    #foreach($row in $report)
        <item>
            <number>$!row[0]</number>
            <description>$!row[1]</description>
            <address>$!row[2].getFullAddress()</address>
            <owner>$!row[3].getName()</owner>
            <debit>$!row[4]</debit>
            <credit>$!row[5]</credit>
        </item>
    #end
</report-zpks>