<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="simple-list">
    <property name="maxResult" type="Integer">$countRows</property>
    <list name="items">
        #foreach($row in $items)
        <entity name="element">
            <property name="id" type="Integer">$row.getId()</property>
            <property name="label" type="String">$row.getLabel()</property>
        </entity>
        #end
    </list>
</entity>