<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="simple-double-response">
    #if($!response)
    <property name="value" type="Double">$!response</property>
    #else
    <property name="value" type="Double">0.0</property>
    #end
</entity>