<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<simple-double-response>
    #if($!response)
    <value>$!response</value>
    #else
    <value>0.0</value>
    #end
</simple-double-response>