<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="close-month">
    <property name="invoices" type="Integer">$!invoices</property>
    <property name="chargings" type="String">$!chargings</property>
    <property name="period" type="String">$!month $!year</property>
</entity>