<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="payment-invoice">
    <property name="invoiceId" type="Integer"/>
    <property name="createDate" type="String"/>
    <property name="cost" type="String"/>
    <property name="costId" type="Integer"/>
    <property name="accountId" type="Integer"/>
    <property name="value" type="String"/>
</entity>