<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="rent-note">
    <property name="id" type="Integer">$!entity.getId()</property>
    <property name="value" type="String">$!entity.getPositions().get(0).getValue()</property>
    <property name="possession" type="String">$!entity.getPossession().getAddress().getFullAddress()</property>
    <property name="possessionId" type="Integer">$!entity.getPossession().getId()</property>
    <property name="element" type="String">$!entity.getPositions().get(0).getAttribute("ELEMENT_NAME").getValue()</property>
    <property name="elementId" type="Integer">$!entity.getPositions().get(0).getAttribute("ELEMENT_ID").getValue()</property>
    <property name="description" type="String">$!entity.getPositions().get(0).getDescription</property>
</entity>