<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="rent-note">
    <property name="id" type="Integer"></property>
    <property name="value" type="String"></property>
    <property name="possession" type="String"></property>
    <property name="possessionId" type="Integer"></property>
    <property name="element" type="String"></property>
    <property name="elementId" type="Integer"></property>
</entity>