<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="possession-account-state">
    <property name="stateRent" type="Double">$stateRent</property>
    <property name="stateRF" type="Double">$stateRF</property>
    <property name="chargingRent" type="Double">$chargingRent</property>
    <property name="chargingRT" type="Double">$chargingRT</property>
</entity>