<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="possession-account-state">
    <property name="stateRent" type="String">$stateRent</property>
    <property name="stateRF" type="String">$stateRF</property>
    <property name="chargingRent" type="String">$chargingRent</property>
    <property name="chargingRT" type="String">$chargingRT</property>
</entity>