<?xml version="1.0" encoding="UTF-8" standalone="yes" ?> 
<entity name="simple-string-list">
    <list name="items">
        #foreach($row in $items)
        <entity name="item">
            <property name="item" type="String">$row</property>
        </entity>
        #end
    </list>
</entity>