[db]
host: 172.16.1.5
db1: agora_dev_erp
db2: agora_erp
user: agora
password: tomasz.12

[paths]
config: /opt/builder/container/src/main/resources/scripts/main.xml
scripts: /opt/builder/container/src/main/resources/scripts/sources/

[queries]
insertTemplate: INSERT INTO template (name, content) VALUES (%s, %s)
insetTemplateVariable: INSERT INTO template_variable (template_id, name, data) VALUES (%d, '%s', '%s')

selectTemplate: SELECT * FROM template WHERE name = %s

updateTemplate: UPDATE template SET source = %s WHERE name = %s

deleteTemplateVariables: DELETE FROM template_variable WHERE template_id = %d