[db]
host: 172.16.1.5
db1: agora_dev_erp
db2: agora_erp
user: agora
password: tomasz.12

[paths]
config: /opt/builder/container/src/main/resources/scripts/main.xml
scripts: /opt/builder/container/src/main/resources/scripts/sources/
destination1: /opt/glassfish/domains/devel/container/scripts
destination2: /opt/glassfish/domains/prod/container/scripts

[queries]
insetScheduler: INSERT INTO script_scheduler (name, enabled, schedule) VALUES ('%s', '%s', '%s')
deleteAllSchedulers: DELETE FROM script_scheduler