[db]
host: 172.16.1.5
db: agora_erp
user: agora
password: tomasz.12

[paths]
config: /opt/builder/src/src/main/resources/scripts/main.xml
scripts: /opt/builder/src/src/main/resources/scripts/sources/

[queries]
insertScript: INSERT INTO script (name, script, on_init) VALUES (%s, %s, %s)
insetScheduler: INSERT INTO script_scheduler (name, enabled, scheduler, id_script) VALUES (%s, %d, %s, %d)
insertDependency: INSERT INTO script_dependency (script_id, dependency) VALUES (%d, %d)

selectScript: SELECT * FROM script WHERE name = %s

updateScript: UPDATE script SET script = %s, on_init = %s WHERE name = %s

deleteScriptScheduler: DELETE FROM script_scheduler WHERE id_script = %d
deleteScriptDependencies: DELETE FROM script_dependency WHERE script_id = %d